{%  extends "layout.html" %}
{% block title %}Batch Add Firewall Rules{% endblock %}
{% block content %}

    <nav id="datalist"></nav>
        {% if error %}
        <h2 class="results">The following objects were not found or valid:</h2>
            {% if result.section %}
                <dt class="section">Sections:</dt>
                <dl class="section">{{ result.section }}</dl>
            {% endif %}
            {% if result.iplist %}
                <dt class="iplist">IP Addresses, IPSets and NSGroups not found:</dt>
                <dl class="iplist">{{ result.iplist }}</dl>
            {% endif %}
            {% if result.portlist %}
                <dt class="portlist">TCP/UDP Ports and NSServices:</dt>
                <dl class="portlist">{{ result.portlist }}</dl>
            {% endif %}
            {% if result.logging %}
                <dt class="logging">Logging:</dt>
                <dl class="logging">One or more rules have an invalid log setting</dl>
            {% endif %}
            {% if result.action %}
                <dt class="action">Action:</dt>
                <dl class="action">One or more rules have an invalid action setting</dl>
            {% endif %}
        {% endif %}
        {% if not error %}
        <h2 class="results">All rules applied successully</h2>
        {% endif %}
    </nav>

{% endblock %}