{%  extends "layout.html" %}
{% block title %}Add Firewall Rule{% endblock %}
{% block content %}

<nav id="datalist">
    {% from "_formhelper.html" import render_field %}
    <form method=post action="{{ url_for('action_addsinglefwrule') }}">
      <dl>
          {{ render_field(form.nsxmgr) }}
          {{ render_field(form.srcip) }}
          {{ render_field(form.dstip) }}
          {{ render_field(form.log) }}
          {{ render_field(form.action) }}
      </dl>
      <p><input type=submit value="Add Rule">
    </form>
</nav>

{% endblock %}