<!DOCTYPE html>
<html lang="en>
<head>
    <meta charset="UTF-8">
    <title>NSX Toolkit</title>
    <meta name="NSX Web Frontend" content="">

    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">

    <!-- IE6-8 support of HTML5 elements --> <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<nav id="nav">
    <ul id="navigation">
        <li><a href={{ url_for('index') }} class="first">Home</a></li>
        <li><a href="#">Inventory &raquo;</a>
            <ul>
                <li><a href={{ url_for('addnsxmanager') }}>Add NSX Manager</a></li>
                <li><a href="#">Delete NSX Manager</a></li>
                <li><a href={{ url_for('listnsxmanager') }}>List NSX Managers</a></li>
            </ul>
        </li>
        <li><a href="#">Firewall &raquo;</a>
            <ul>
                <li><a href="#">Add Firewall Rule</a></li>
                <li><a href="#">Delete Firewall Rule</a></li>
                <li><a href="#">Batch Add Firewall Rules</a></li>
                <li><a href="#">Update Firewall Rule</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('contact') }}" class="last">Contact</a></li>
    </ul>
</nav>

<nav id="addmgr">
    <form method="POST" action="">
    <table id="addtable">
        <tr>
            <td>IP Address</td>
            <td><input type="text" name="ipaddr" size="25"></td>
        </tr>
        <tr>
            <td>Manager Type</td>
            <td><input type="text" name="managertype", size="25"></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" size="25"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" size="25"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit"></td>
        </tr>
    </table>
    </form>
</nav>

<h2 class="pos_left">Add NSX Manager</h2>

</body>
</html>