<!DOCTYPE html>
<html lang="en>
<head>
    <meta charset="UTF-8">
    <title>NSX Toolkit</title>
    <meta name="NSX Web Frontend" content="">

    <link rel="stylesheet" href="{{url_for('static',filename='styles/new.css')}}">

    <!-- IE6-8 support of HTML5 elements --> <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<nav id="addmgr">
    <form method="POST" action="">
    <table id="addtable">
        <tr>
            <td>IP Address</td>
            <td><input type="text" name="ipaddr" size="25"></td>
        </tr>
        <tr>
            <td>Manager Type</td>
            <td><input type="text" name="managertype", size="25"></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" size="25"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" size="25"></td>
        </tr>
    </table>
    </form>
</nav>

<h2 class="pos_left">This is a test</h2>

</body>
</html>