{%  extends "layout.html" %}
{% block title %}Add NSX Manager{% endblock %}
{% block content %}
<nav id="addmgr">
    <form method="POST" action="{{ url_for('action_addmgr') }}">
    <table id="addtable">
        <tr>
            <td>IP Address</td>
            <td><input type="text" name="ipaddr" size="25"></td>
        </tr>
        <tr>
            <td>Manager Type</td>
            <td><select name="type"><option value="NSX-T">NSX-T</option></select></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" size="25"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" size="25"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit"></td>
        </tr>
    </table>
    </form>
</nav>

<h2 class="pos_left">Add NSX Manager</h2>
{% endblock %}